@import "tailwindcss";

@theme {
  /* Khai báo font chữ từ biến Next.js */
  --font-sans: var(--font-inter); 
  --font-display: var(--font-montserrat);

  /* Khai báo bộ màu Nam Viet */
  --color-primary: #5fa532;
  --color-primary-dark: #4a7c2d;
  --color-secondary: #f0fdf4;
  --color-accent: #facc15;
}

/* Các style cơ bản */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}